:root {
  --primary: #9466a1;
  --primary-light: #a273ae;
  --primary-dark: #824e90;

  --primary-strong: var(--primary-dark);
  --primary-weak: var(--primary-light);

  --on-primary: white;

  --surface: #ffffff;
  --on-surface: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-strong: var(--primary-light);
    --primary-weak: var(--primary-dark);

    --surface: #121212;
    --on-surface: #ffffff;
  }
}

html {
  background-color: var(--surface);
  color: var(--on-surface);
  font-family: Nunito, Arial, Helvetica, sans-serif;
}

button {
  appearance: none;
  border: none;
  border-radius: 10000px;
  background-color: var(--primary);
  color: var(--on-primary);
  padding: 12px 24px;
  font-size: 16px;
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

button:hover,
button:focus-visible {
  outline: none;
  background-color: var(--primary-strong);
  transform: scale(1.1);
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "form list";
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 8px;
  margin: 0;
}

@media (max-width: 960px) {
  body {
    grid-template-areas:
      "header"
      "form"
      "list";
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }
}

header {
  grid-area: header;
  background-color: var(--primary);
  color: var(--on-primary);
  padding: 16px;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
}

#new-entry {
  grid-area: form;
  display: grid;
  padding: 8px;
  gap: 8px;
  align-self: start;
}

#new-entry #memo {
  resize: vertical;
  background-color: var(--surface);
  color: var(--on-surface);
  border-radius: 12px;
  outline: 1px solid var(--primary);
  padding: 4px;
  border: 4px solid transparent;
  font-family: inherit;
}

#new-entry #memo:focus-visible {
  outline-color: var(--primary-strong);
  outline-width: 2px;
}

.tag-category {
  display: flex;
  gap: 8px;
}

input[name="mood-tags"] {
  appearance: none;
  position: absolute;
  margin: 0;
}

input[name="mood-tags"] + label {
  display: block;
  outline: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 10000px;
  padding: 4px 16px;
}

input[name="mood-tags"]:focus-visible + label {
  outline-width: 2px;
  outline-color: var(--primary-strong);
  color: var(--primary-strong);
  font-weight: 700;
}

input[name="mood-tags"]:checked + label {
  background-color: var(--primary);
  color: var(--on-primary);
}

input[name="mood-tags"]:checked:focus-visible + label {
  background-color: var(--primary-strong);
}

#new-entry > button {
  justify-self: end;
}

#entry-wrapper {
  grid-area: list;
}
