:root {
  --primary: #0070f3;
  --primary-light: #0097ff;
  --primary-dark: #005bea;

  --surface: #ffffff;
  --on-surface: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #0070f3;
    --primary-light: #0097ff;
    --primary-dark: #005bea;

    --surface: #121212;
    --on-surface: #ffffff;
  }
}

* {
  background-color: var(--surface);
  color: var(--on-surface);
}
